<div class="content">
    <img class="icon" src="Icon.png" alt="">
    <h2>ZenCard version 1.0</h2>
    <p>
        Copyright &copy; 2010 Tiny Hippos Inc. &amp; CuteGecko All Rights Reserved.
    </p>
    <p>
        ZenCard is intended to be used as a tool to combine the barcode content of multiple loyalty,
        membership and savings cards in use and taking up residence in our wallets. Any company names,
        brands and associated usage remains copyright of their respective owners.
    </p>
    <p>
        TinyHippos & CuteGecko, a veritable Zoo assortment of Skills, Talent & Passion.
    </p>

    <p>
        TinyHippos (<a href="http://tinyhippos.com/">http://tinyhippos.com/</a>): Making Mobile Development Easy<br/>
        CuteGecko (<a href="http://cutegecko.ca/">http://cutegecko.ca/</a>): Making Stuff Work... (& look pretty)<br/>
        Both Companies are Canadian owned, operated & based in Waterloo Ontario
    </p>

    <div class="logos">
        <img src="app/images/tinyhippos.png" alt="tinyHippos Inc.">
        <img src="app/images/cutegecko.png" alt="CuteGecko">
    </div>

    <p>
        For Support and updates, please contact <a href="mailto:zencard@tinyhippos.com">zencard@tinyhippos.com</a>
    </p>

</div>
