/* -------------------------- Global & Resets -------------------------- */

    html, body{
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
    }
    body{ font: 1em Helvetica, Verdana, Sans-serif; }

	@media all and (min-resolution: 50dpi) {
	  body {
		font-size: 0.5em;
	  }
	}

    @media all and (min-resolution: 150dpi) {
      body {
        font-size: 0.63em;
      }
    }

    @media all and (min-resolution: 200dpi) {
	  body {
		font-size: 0.88em;
	  }
	}

    @media all and (min-resolution: 240dpi) {
	  body {
		font-size: 1.5em;
	  }
	}

    a {
        outline: none;
        text-decoration: underline;
        cursor: pointer;
    }

    img {  border: 0; margin: 0; padding: 0; }

    table, tr, td {
        border: 0;
        margin: 0;
        padding: 0;
    }

    input:hover, .textarea:hover, .select:hover, button:hover {
        color: #777777;
        background: #F0F0F0;
        cursor: pointer;
    }

    textarea, input, button, select{
        background: #EEEEEE;
        color: #1E1E1E;
        border: 1px solid #CCCCCC;
        font-size: 1em;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .layout h1, .layout h2, .layout h3, .layout p {
        margin: 0 0 1em 0;
    }

    .layout h1, .layout h2, .layout h3 {
        text-transform: capitalize;
        font-weight: bold;
        color: #76A956;
    }

    .layout h1 { font-size: 1.33em; }

    .layout h2{ font-size: 1.14em; }

    .layout h3{ font-size: 1.00em; }

    .irrelevant{ display: none; }

    .hidden{ visibility: hidden; }

/* -------------------------- Main Layout -------------------------- */

    .layout{
        width: 100%;
        height: 100%;
        position: relative;
        background: #FFFFFF;
    }

/* -------------------------- Header -------------------------- */
    .layout .header{
        /*background: -webkit-gradient(linear, 0% -50%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(0, 0, 0)));*/
        background: url('images/greyheadinggradient.png') repeat-x center;
        height: 4.38em;
        width: 100%;
        z-index: 100;
        position: relative;
    }

    .layout .header h1{
        color: #F0F0F0;
        text-align: center;
        position: relative;
        z-index: 100;
        top: 32%;
        font-size: 1.69em;
    }

    .layout .header div.nav_left, .layout .header div.nav_right{
        position: relative;
        z-index: 101;
        font-weight: bold;
        text-align: center;
        top: 1.2em;
        height: 2.31em;
    }

    .layout .header div.nav_left{
        float: left;
        margin: 0 0 0 0.75em;
        width: 6.62em;
    }

    .layout .header div.nav_right{
        float: right;
        margin: 0 0.75em 0 0;
    }

    .layout .header div.nav_right_big{
    	width: 4.75em;
    }

    .layout .header div.nav_right_small{
    	width: 2.62em;
    }

    .header div.nav_left div.link, .header div.nav_right div.link{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 880;
    }

    .header div.nav_left div a#nav_left, .header div.nav_right div a#nav_right{
        display: block;
        cursor: pointer;
        width: 100%;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        text-align: center;
        font-size: 1.22em;
        color: #FFFFFF;
        text-shadow: gray 1px 1px 1px;  
        text-decoration: none;
    }

    .header div.nav_left div a#nav_left{
        padding-left: 0.2em;
    }

    .header div a#nav_left div.link a, .header div a#nav_right div.link a{
        display: block;
        position: relative;
        width: 100%;
    }

    .header .nav_left .image, .header .nav_right .image{
        width: 100%;
        height: 100%;
        z-index: 800;
        position: absolute;
    }
    
    .header div div img{
        width: 100%;
        height: 100%;
    }

    .header div .image img{
        height: 100%;
        position: absolute;
    }


/* -------------------------- View Container -------------------------- */

    .layout .view{
        padding: 0;
        overflow: auto;
        color: #000000;
        z-index: 60;
        background: #FFFFFF;
    }

    .content {
        text-align: center;
        padding: 0 1em;
    }

    .content a {
        color: #76A956;
    }

    .content h1{
        margin-top: 0.5em;
    }

    .content ul, .content ol{
        text-align: left;
    }


/* -------------------------- Barcode Select View -------------------------- */

    #cardName{
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #76A956;
        margin: 0.5em 0 1em 0;
    }

    .barcode_generated{
        margin: 0 auto;
    }

    .barcode_generated object{
        overflow: hidden;
        position: relative;
        z-index: 90;
    }

    .barcode_generated_container{
		position: relative;
        z-index: 600;
        background: #FFFFFF;
        margin: 0 auto 2em auto;
		-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 2em 0.75em;
    }

    .layout .view #barcodes{
        margin: 10px;
        overflow: hidden;
    }

    .barcode_select_edit{
		margin: 0.75em 0 1.5em 0;
    }


/* -------------------------- List View -------------------------- */

    .card_to_select{
        padding: .5em 5em .5em 1em;
        border-bottom: 1px solid #CCCCCC;
        font-weight: bold;
        font-size: 1.25em;
        display: block;
        text-decoration: none;
    }

    .card_not_selected{
        color: #000000;
        background: url(images/littlearrow.png) no-repeat 95% center;
    }

    .card_selected, .card_not_selected:active, .card_not_selected:hover{
        background: #76A956 url(images/whitecarrot.png) no-repeat 95% center;
        color: #FFFFFF;
    }


/* -------------------------- Ajax Loader -------------------------- */

    .ajax_loader{
        background: url('images/loader_ajax.gif') no-repeat;
        width: 35px;
        height: 35px;
        margin: 50% auto;
        position: relative;
    }


/* -------------------------- Add Card View -------------------------- */

    .add_bg{
        background: url('images/greybggradient.png') repeat-x top;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 61;
    }

    #cards_add_form{
        position: relative;
        z-index: 62;
        color: #FFFFFF;
        padding-top: 1.25em;
    }

    #cards_add_form label{
        font-size: 1.25em;
        color: #FFFFFF;
        margin: 0 2%;
        width: 96%;
        padding-left: 0.5em;
        text-shadow: #666666 1px 1px 2px;
        font-weight: bold;
    }

    #cards_add_form input{
        margin: 0.5em 2% 1em 2%;
        width: 94%;
        padding: 0.5em 1%;
        font-size: 1.25em;
    }

/* -------------------------- Home View -------------------------- */

    .home_bg{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        overflow: hidden;
        text-align: center;
        background: #231F20;
        color: #76A956;
    }
    .home_loader{
        background: #272836 url('images/home-loader.gif') no-repeat;
        height: 15px;
        width: 128px;
        margin: 20px auto 20px auto;
    }
    .home_bg img{
        max-width: 14.06em;
        margin: 20px auto 0 auto;
    }

    .home_copyright{
        font-size: 1em;
        font-weight: bold;
    }

    .home_footer{
        position: absolute;
        bottom: 2em;
        width: 90%;
        padding: 0 5%;
    }


/* -------------------------- Popup -------------------------- */

    #popup {
        width: 70%;
        overflow: auto;
        z-index: 900;
        position: relative;
        margin: 2em auto;
        padding: 1em;
        background-color: #76A956;
        color: #FFFFFF;
        font-size: 1.38em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 5px #333333;
		-moz-box-shadow: 0px 1px 5px #333333;
		box-shadow: 0px 1px 5px #333333;
    }

/* -------------------------- About -------------------------- */

    .icon {
        width: 4.06em;
        padding-top: 0.5em;
    }

    .logos img{
        width: 35%;
    }


/* -------------------------- Large Green Button -------------------------- */

    div.card_button{
        text-align: center;
    }

    div.card_button_top{
        margin-top: 3.5em;
        margin-bottom: 0.5em;
    }

    div.card_button a{
        text-align: center;
        width: 17.06em;
        height: 2.44em;
        position: relative;
        text-decoration: none;
    }

    div.card_button a img{
        width: 17.06em;
        height: 2.44em;
    }

    div.card_button a div{
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: 0.45em;
        font-size: 1.25em;
        font-weight: bold;
        color: #FFFFFF;
    }