/*
 * Globals
 */

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
body{ font: 1em Helvetica, Verdana, Sans-serif; }

a{
	outline: none;
	text-decoration: underline;
	text-transform: capitalize;
	cursor: pointer;
	color: #EEEEEE;
}

img{  border: 0; margin: 0; padding: 0; }

table, tr, td{
	border: 0;
	margin: 0;
	padding: 0;
}

input:hover, textarea:hover, select:hover, button:hover{
	color: #777777;
	background: #F0F0F0;
	cursor: pointer;
}

textarea, input, button, select{
	background: #EEEEEE;
	color: #1E1E1E;
	padding: 0.1em 0.4em;
	border: 1px solid #CCCCCC;
	font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

h1, h2, h3, p{ margin: 0 0 1em 0; }

h1, h2, h3{ text-transform: capitalize; font-weight: bold; font-size: 1.33em; }

h1 { font-size: 1.33em; }

h2{ font-size: 1.14em; }

h3{ font-size: 1.00em; }

.irrelevant{ display: none; }

/*
 * Main Layout
 */

.layout{
	width: 100%;
	height: 100%;
    position: relative;
    background: #FFFFFF;
}



/*
 * Header
 */

.layout .header{
	/*background: -webkit-gradient(linear, 0% -50%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(0, 0, 0)));*/
    background: url('images/greyheadinggradient.png') repeat-x center;
	height: 70px;
    width: 100%;
    z-index: 100;
    position: relative;
}

    .layout .header h1{
        color: #F0F0F0;
        text-align: center;
        position: relative;
        z-index: 100;
        top: 25%;
        font-size: 1.69em;
    }

    .layout .header div.nav_left, .layout .header div.nav_right{
        position: relative;
        z-index: 101;
        font-weight: bold;
        text-align: center;
        top: 1.2em;
        height: 2.31em;
    }

    .layout .header div.nav_left{
        float: left;
        margin: 0 0 0 0.75em;
        width: 6.62em;
    }

    .layout .header div.nav_right{
        float: right;
        margin: 0 0.75em 0 0;
        width: 2.62em;
    }

    .header div.nav_left div.link, .header div.nav_right div.link{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 880;
    }

    .header div.nav_left div a#nav_left, .header div.nav_right div a#nav_right{
        display: block;
        cursor: pointer;
        width: 100%;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        text-align: center;
        font-size: 1.22em;
        color: #FFFFFF;
        text-shadow: gray 1px 1px 1px;  
        text-decoration: none;
    }

    .header div.nav_left div a#nav_left{
        padding-left: 0.2em;
    }

    .header div a#nav_left div.link a, .header div a#nav_right div.link a{
        display: block;
        position: relative;
        width: 100%;
    }

    .header .nav_left .image, .header .nav_right .image{
        width: 100%;
        height: 100%;
        z-index: 800;
        position: absolute;
    }
    
    .header div div img{
        width: 100%;
        height: 100%;
    }

    .header div .image img{
        height: 100%;
        position: absolute;
    }


/*
 * Views
 */

.layout .view{
	padding: 0;
	overflow: auto;
    color: #000000;
    z-index: 60;
    background: #FFFFFF;
    height:100%;
}

/*
 * Barcode Select View
 */

.barcode_generated{
	position: relative;
	z-index: 600;
	background: #999999;
}

.barcode_generated object{
	height: 30px;
	overflow: hidden;
	position: relative;
	z-index: 90;
}

.layout .view #barcodes{
    margin: 10px;
    overflow: hidden;
}



/*
 * list view
 */
.card_to_select{
	padding: .5em 1.5em;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	font-size: 1.17em;
}


/*
 * Ajax Loader
 */
.ajax_loader{
	background: url('images/loader_ajax.gif') no-repeat;
	width: 35px;
	height: 35px;
	margin: 50% auto;
	position: relative;
}

/*
 * Add View
 */
.add_bg{
    background: #272836 url('images/addscreenbg.png') repeat-x;
    height: 100%;
    width: 100%;
    top: 70px;
}

/*
 * Home View
 */
.home_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: hidden;
    text-align: center;
    background: #141414;
    color: #76A956;
}
.home_loader{
    background: #272836 url('images/home-loader.gif') no-repeat;
    height: 15px;
    width: 128px;
    margin: 20px auto 20px auto;
}
.home_bg img{
    width: 11.54em;
    margin: 20px auto 0 auto;
}



/*
 * popup
 */

#popup {
    width: 70%;
    overflow: auto;
    z-index: 900;
    position: relative;
    margin: 2em auto;
    padding: 1em;
    background-color: #76A956;
    color: #FFFFFF;
    font-size: 1.38em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}