<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.jil.org/ns/widgets"
         xmlns:its="http://www.w3.org/2005/11/its"
         id="http://example.org/JILifiedUnitTester"
         version="1.0.Beta"
         height="684"
         width="480">
    <maximum_display_mode height="684" width="480"/>
    <update href="http://www.jil.org/widgets/" period="2"/>
    <access network="true" localfs="true" remote_scripts="false"/>
    <billing required="false"/>
    <icon src="Icon.png"/>
    <content src="index.html" type="text/html"/>
    <feature name="http://jil.org/jil/api/1.1/xmlHttpRequest"/>
    <name>ZenCard</name>
    <description>A widget</description>
    <license href="http://license.example.org/">Example license Copyright (c) 2008.</license>
    <author email="myname@host">zencard</author>
</widget>
