<?xml version="1.0" encoding="UTF-8"?>
<widget  xmlns="http://www.jil.org/ns/widgets"
         xmlns:its="http://www.w3.org/2005/11/its"
         id="http://jil.org/wid/8a6615320f0b811aad0d812944bf74bcc969d1700390406600636cbe5d7308e3/ZenCard"
         version="1.0-dev"
         height="684"
         width="480">
    <maximum_display_mode height="684" width="480"/>
    <update href="http://www.jil.org/widgets/" period="2"/>
    <access network="true" localfs="true" remote_scripts="false"/>
    <billing required="false"/>
    <icon src="Icon.png"/>
    <content src="index.html" type="text/html"/>
    <feature name="http://jil.org/jil/api/1.1/xmlHttpRequest"/>
    <name>ZenCard</name>
    <description>May all your cards be one.</description>
    <description>M</description>
    <license  href="http://license.example.org/">Copyright  2010 tinyHippos/CuteGcko (MIT)</license>
    <author  email="myname@host">zencard</author>
</widget>
