<div class="add_bg"></div>

<div id="cards_add_form">

    <label for="cards_add_company_name">Company Name</label><br />
    <input type="text" value="" id="cards_add_company_name" maxlength="50" /><br />

    <label for="cards_add_code">Code</label><br />
    <input type="text" value="" id="cards_add_code" /><br />

    <div class="card_button card_button_top">
        <a id="add_card">
            <div>Add Card</div>
            <img src="app/images/biggergreenbutton.png" alt="background image for add card button" />
        </a>
    </div>
    <div class="card_button">
        <a id="remove_card" class="irrelevant">
            <div>Remove Card</div>
            <img src="app/images/biggergreenbutton.png" alt="background image for add card button" />
        </a>
    </div>

</div>