/*
 * Globals
 */

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
body{ font: 0.81em Helvetica, Verdana, Sans-serif; }

a{
	outline: none;
	text-decoration: underline;
	text-transform: capitalize;
	cursor: pointer;
	color: #EEEEEE;
}

img{  border: 0; margin: 0; padding: 0; }

table, tr, td{
	border: 0;
	margin: 0;
	padding: 0;
}

input:hover, textarea:hover, select:hover, button:hover{
	color: #777777;
	background: #F0F0F0;
	cursor: pointer;
}

button, a{
    background: #E9EDE7;
	border: 1px #CCCCCC solid;
	color: #000000;
}

textarea, input, button, select{
	background: #EEEEEE;
	color: #1E1E1E;
	padding: 0.1em 0.4em;
	border: 1px solid #CCCCCC;
	font-size: 1em;
}

h1, h2, h3, p{ margin: 0 0 1em 0; }

h1, h2, h3{ text-transform: capitalize; font-weight: bold; font-size: 1.33em; }

h1 { font-size: 1.33em; }

h2{ font-size: 1.14em; }

h3{ font-size: 1.00em; }

.irrelevant{ display: none; }

/*
 * Main Layout
 */

.layout{
	width: 100%;
	height: 100%;
    position: relative;
    background: #FFFFFF;
}



/*
 * Header
 */

.layout .header{
	/* TODO: use image */
	background: #000000;
	background: -webkit-gradient(linear, 0% -50%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(0, 0, 0)));
	position: absolute;
	height: 5em;
    width: 100%;
    z-index: 100;
}

.layout .header h1{
	color: #F0F0F0;
	text-align: center;
	position: relative;
	z-index: 100;
    top: 30%;
}

.layout .header a{
	position: relative;
	z-index: 101;
	background: #E9EDE7;
	border: 1px #CCCCCC solid;
	color: #000000;
	-webkit-border-radius: 5px;
	text-decoration: none;
	padding: 1em;
	text-align: center;
}

.layout .header a#nav_left{
	float: left;
	margin: 0.75em 0 0 0.75em;
}

/*
.layout .header a#nav_left:hover {
	padding-right: 25px;
	background: inherit url('../images/loader.gif') no-repeat center right;
}
*/

.layout .header a#nav_right{
	float: right;
	margin: 0.75em 0.75em 0 0;
}

/*
 * Views
 */

.layout .view{
	padding: 5em 0 0 0;
	overflow: auto;
    color: #000000;
    z-index: 60;
    overflow: auto;
    background: #FFFFFF;
}

/*
 * Barcode View
 */

.barcode_generated{
	position: relative;
	z-index: 600;
	background: #999999;
}

.barcode_generated object{
	height: 30px;
	overflow: hidden;
	position: relative;
	z-index: 90;
}

/* test
 */

.layout .view #barcodes{
    margin: 10px;
    overflow: hidden;
}

#hack_test{
	position: absolute;
	top: -5px;
	background: black;
}

/*
 * list view
 */
.card_to_select{
	padding: .5em 1.5em;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	font-size: 1.17em;
	/* TODO : added arrors in right part as bg image */
}


/*
 * Ajax Loader
 */
.ajax_loader{
	background: url('../images/loader_ajax.gif') no-repeat;
	width: 35px;
	height: 35px;
	margin: 50% auto;
	position: relative;
}